
body{
    font-family: "Baloo 2 Semibold";
    padding-top: 14vh;
    margin: 0;
    overflow: hidden;
    color: var(--cor-primaria);
}

.notificacao {
    position: fixed;
    left: 80vw;
    top:15vh;
    margin-right: 0;
    background-color: var(--cor-base);
    color: var(--cor-primaria);
    padding: 2vw;
    border-radius: 5px;
    box-shadow: 2px 2px 4px var(--cor-shadow);
    font-size: 16px;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
}

.notificacao.oculto {
    opacity: 0;
    pointer-events: none;
}

.corpo{
    background-color: var(--cor-base-dois);
    font-family:"Open Sans Regular" ;
    height: 86vh;
    padding:1vh 3.14vw 1vh 3.14vw;
    font-size: 14px;
}

.corpo p{
    font-family: "Open Sans Regular";
    font-size: 14px;
}

.corpo-frame{
    background-color: var(--cor-base);
    height: 55vh;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 6vh 6.3vw 6vh 6.3vw;
}

.corpo-frame .hidden {
    display: none;
}

.corpo-frame .msg{
    color: var(--cor-quatro);
    font-weight: 300;
    font-size: 11px;
}

.corpo-frame::-webkit-scrollbar {
    background: transparent;
    width: 1vw;
}

.corpo-frame::-webkit-scrollbar-thumb {
    background: var(--cor-primaria);
    border-radius: 10px;
}

.corpo-frame::-webkit-scrollbar-thumb:hover {
    background: var(--cor-primaria);
}


.corpo-frame .textos{
    display: flex;
    flex-direction: column;
}

.corpo-frame .textos #nome{
    width: 35vw;
}

.corpo-frame .checklist{
    display: flex;
    flex-direction: column;
}

.corpo-frame .checklist select{
    width: 25vw;
    margin-top: 0.5vw;
}

.corpo-frame .horarios, .corpo-frame .ausencias{
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    margin-bottom: 3vw;
}

.corpo-frame .horarios select, .corpo-frame .horarios input,
.corpo-frame .ausencias select, .corpo-frame .ausencias input{
    width: 10vw;
}

.corpo-frame .horarios button, .corpo-frame .ausencias button{
    all:unset;
    cursor: pointer;
    color: var(--cor-primaria);
    margin: 1.5vw 0.5vw 0 0.5vw;
    align-self: flex-start;
}

.corpo-frame p{
    font-size: 16px;
    color: var(--cor-primaria);
    font-family: "Baloo 2 Semibold";
}

.corpo-frame label {
    font-size: 16px;
    color: var(--cor-primaria);
    margin-bottom: 0.5vw;
    font-family: "Baloo 2 Semibold";
}

.corpo-frame input, .corpo-frame select {
    padding:0.5vw;
    border: 0.1vw solid #ccc;
    border-radius: 0.3vw;
    font-size: 14px;
    font-family:"Open Sans Light" ;
}

.corpo-frame input:focus{
    outline: none;
    background-color: var(--cor-base-dois);
}

.corpo-frame select:focus{
    outline: none;
}

.corpo-frame .juntar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.corpo-frame .hora{
    display: flex;
    justify-content: flex-start;
}

.corpo-frame .hora p{
    margin-right: 1vw;
}

.corpo-frame .botoes{
    all:unset;    
    display: flex;
    align-items: center;
    width: 10.5vw;
    margin-top: 6vh;
    justify-content: center; 
    height: 6vh;
    cursor: pointer;
    padding:1.5vh 2vw;
}

.corpo-frame button a{
    all:unset;    
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 0;
    padding:1.5vh 2vw;
}

.corpo-frame button a svg {
    color: var(--cor-base);
    margin-right: 1vw;
}

.corpo-frame #voltar{
    padding: 0.6vw 1vw 0.6vw 1vw;
    border: none;
    background-color: var(--cor-dois);
    color: var(--cor-base);
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-family: "Baloo 2 Semibold";
    border-radius: 4px;
    box-shadow: 2px 2px 4px var(--cor-shadow);
    white-space: nowrap;
    cursor: pointer;
    width: 7vw;
}

.corpo-frame #voltar:hover{
    background-color: var(--cor-tres);
}

.corpo-frame #excluir{
    padding: 0.6vw 1vw 0.6vw 1vw;
    margin-left: 40vw;
    border: none;
    background-color: var(--cor-quatro);
    color: var(--cor-base);
    display: flex;
    align-items: center;
    font-size:16px;
    font-family: "Baloo 2 Semibold";
    border-radius: 4px;
    box-shadow: 2px 2px 4px var(--cor-shadow);
    white-space: nowrap;
    cursor: pointer;
}

#excluir svg, #salvar svg, #editar svg{
    margin-left: 1vw;
}

.corpo-frame #excluir:hover{
    background-color: var(--cor-base);
    color: var(--cor-cinco);   
}

.corpo-frame #salvar, .corpo-frame #editar{
    padding: 0.6vw 1vw 0.6vw 1vw;
    margin-left: 2vw;
    border: none;
    background-color: var(--cor-nove);
    color: var(--cor-base);
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: "Baloo 2 Semibold";
    border-radius: 4px;
    box-shadow: 2px 2px 4px var(--cor-shadow);
    white-space: nowrap;
    cursor: pointer;
}

.corpo-frame #salvar:hover, .corpo-frame #editar:hover{
    background-color: var(--cor-base);
    color: var(--cor-seis);
}

.corpo-frame .horarios label, .corpo-frame .ausencias label{
    font-size: 14px;
}

.corpo-frame .horarios input, .corpo-frame .ausencias input,
.corpo-frame .horarios select, .corpo-frame .ausencias select{
    font-size: 12px;
}

.corpo-frame .dia-semana-atvd label {
    display: block;  
}

.corpo-frame .dia-semana-atvd input[type="checkbox"] {
    margin-right: 1px; 
    margin-bottom: 1vw;
    width: 1.5vw;
    padding: 0;
}

.corpo-frame .remove button{
    border: none;
    font-family: 'Open Sans Regular';
    color: var(--cor-primaria);
    background-color: var(--cor-base-dois);
    padding: 0.5vw 2vw 0.5vw 2vw;
    border-radius: 5px;
    margin:0.5vw;
}

.corpo-frame .remove button:hover{
    box-shadow: -2px 2px 4px var(--cor-shadow);
}

.corpo-frame .remove button:active{
    box-shadow: inset -2px 2px 2px var(--cor-shadow);

}

/* CALENDÁRIO */

.corpo-frame .selecionado{
    background-color: var(--cor-base-dois);

}

.corpo-frame table {
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
}

.corpo-frame .calendar{
    display: flex;
}

.corpo-frame .calendar th {
    font-family: "Baloo 2 Semibold";
    text-align: center;
    color: var(--cor-base);
    background-color: var(--cor-primaria);
    padding: 1vw 3vw 1vw 3vw;
    width: 15vw;
}

.corpo-frame .calendar td {
    padding-bottom: 3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border-left: 1px solid var(--cor-base); 
    font-family: "Open Sans";
    font-weight: 700;
    text-align:center;
    color: var(--cor-primaria);
}

.corpo-frame .calendar td.inicio {
    display: flex;
    justify-content: flex-end;
}



.corpo-frame .calendar td.fim{
    padding-top: 3vw;
    padding-bottom: 0.5vw;
}

.corpo-frame .calendar .intervalo{
    background-color: var(--cor-base-dois);
    color: var(--cor-primaria);
    font-weight: 300;
    padding: 0vw;
    text-align: center;
}


/* AUSÊNCIAS */


.corpo-frame .list-ausencias{
    display: flex;
}

.corpo-frame .list-ausencias th {
    font-family: "Baloo 2 Semibold";
    text-align: center;
    color: var(--cor-base);
    background-color: var(--cor-primaria);
    padding: 1vw 3vw 1vw 3vw;
    width: 15vw;
}

.corpo-frame .list-ausencias td {

    padding-left: 0.5vw;
    font-family: "Open Sans";
    font-weight: 400;
    text-align:center;
    color: var(--cor-primaria);
    background-color: var(--cor-base-dois);
}

.corpo-frame .list-ausencias td.fim{
    padding-top: 3vw;
    padding-bottom: 0.5vw;
}

.corpo-frame table:first-of-type {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.corpo-frame table:last-of-type {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


@media (max-width: 768px) {
        .corpo-frame label, .corpo-frame .ausencias label, .corpo-frame .horarios input,.corpo-frame .horarios select, .corpo-frame .remove button, .corpo-frame .horarios label, .corpo-frame .ausencias select, .corpo-frame .ausencias input, .corpo-frame .ausencias label, .corpo-frame .checklist select, .corpo-frame p, .corpo p, .corpo, .corpo-frame input, .corpo-frame select {    
        font-size: 1.5vw;
    }
    .corpo-frame #voltar {
        font-size: 1.5vw;
        width: 12vw;
    }
    .corpo-frame #salvar, .corpo-frame #editar{
        font-size: 1vw;
        width: 18vw;
    }
    .corpo-frame #excluir  {
        font-size: 1vw;
        width: 18vw;
        margin-left: 15vw;
    }
    svg{
        width: 2vw;
    }
    .corpo-frame h2{
        font-size: 9px;
        margin: 4vw 1vw 0vw 1vw;
    }
    .botoes img{
        width: 2vw;
    }
    .corpo-frame .calendar td button img{
        width: 3vw;
    }

}

@media (max-width: 500px) {
    .corpo-frame label, .corpo-frame .ausencias label, .corpo-frame .horarios input,.corpo-frame .horarios select, .corpo-frame .remove button, .corpo-frame .horarios label, .corpo-frame .ausencias select, .corpo-frame .ausencias input, .corpo-frame .ausencias label, .corpo-frame .checklist select, .corpo-frame p, .corpo p, .corpo, .corpo-frame input, .corpo-frame select {    
        font-size: 2vw;
    }
    .corpo-frame #voltar {
        font-size: 1.5vw;
        width: 14vw;
    }
    .corpo-frame #salvar, .corpo-frame #editar{
        font-size: 1.5vw;
        width: 22vw;
    }
    .corpo-frame #excluir  {
        font-size: 1.5vw;
        width: 22vw;
        margin-left: 5vw;
    }
    svg{
        width: 2vw;
    }
    .corpo-frame h2{
        font-size: 1vw;
        margin: 5vw 1vw 0vw 1vw;
    }
    .botoes img{
        width: 1vw;
    }
    .corpo-frame .list-ausencias td {
        font-size: 1.5vw;
    }

}
